.tag_list {
    display: flex;
}

.entry_tag {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(224, 222, 222);
    padding: .2rem;
    margin-top: .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.tagBoxes {
    display: flex;
}

.tagCheck {
    display: flex;
    margin-right: 2rem;
}

.tag_label {
    margin-right: .5rem;
}